name: Java CI with Maven

on:
  push:
    branches: [ "main" ]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Create Artifact
      run: mvn install  # This generates the target directory and the artifact (e.g., .jar or .war)

    - name: Create Artifact Directory
      run: |
        mkdir -p artifact  # Create the artifact directory
        cp target/*.war artifact/  # Copy the .war file (or use the correct extension)

    - name: Rename Artifact with Job Number
      run: |
        JOB_NUMBER=${{ github.run_number }}
        mv artifact/*.war artifact/${JOB_NUMBER}_$(basename artifact/*.war)

    - name: Upload Artifact to GitHub Actions
      uses: actions/upload-artifact@v2  # Use v2 instead of v3
      with:
        name: my-artifact
        path: artifact/*  # Upload everything in the artifact directory
