name: Java CI with Maven

on:
  push:
    branches: [ "main" ]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Test with Maven
      run: mvn test# 

  create-artifact:
    runs-on: ubuntu-latest
    needs: Test  # This job depends on the build job
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Run Maven Install to Create Artifact
      run: mvn install  # This generates the target directory and the artifact (e.g., .jar)
    - name: Create Artifact Directory
      run: |
        mkdir -p artifact  # Create the artifact directory
        cp target/*.jar artifact/  # Copy the .jar file (or use the correct extension)
    - name: Rename Artifact with Job Number
      run: |
        JOB_NUMBER=${{ github.run_number }}
        mv artifact/* artifact/${JOB_NUMBER}_$(basename artifact/*)  # Rename the artifact with the job number

